{{ 'feature-blog-v2.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<div class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} custom-section">
  <div class="page-width section-review color-{{ section.settings.color_scheme }}">
    <div class="section-title__wrapper">
      <h2 class="poppins-semibold {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.heading }}
      </h2>
    </div>
    <div class="review-btn-group">
      <div class="swiper-btn button--{{ section.id }} swiper-button-prev"></div>
      <div class="swiper-btn button--{{ section.id }} swiper-button-next"></div>
    </div>
    <div class="swiper mySwiper mySwiper-{{ section.id }}">
      <div class="swiper-wrapper">

        {% for article in section.settings.blog.articles %}
          <a
            href="{{ article.url }}"
            class="article-card__wrapper swiper-slide {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
            {% endif %}>
            <div class="article__img-wrapper">
              {% if article.image != blank %}
                {{ article.image.src | image_url: width: article.image.src.width | image_tag: sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200', class: "article__img" }}
              {% endif %}
            </div>
            <div class="article__info-wrapper">
              <span class="article__date poppins-regular">{{ article.published_at | time_tag: format: 'date' }}</span>
              <p class="article-card__title poppins-semibold">
                {{ article.title | truncate: 50 | escape }}
              </p>
              <p class="article-card__content poppins-regular">
                {{ article.excerpt | strip_html | truncatewords: 10 }}
              </p>
              <p class="article-card__read-more">Read More {% render 'icon-arrow-right-2' %}
              </p>
            </div>
          </a>
        {% endfor %}
      </div>
      <div class="swiper-pagination swiper-pagination-{{ section.id }}"></div>
    </div>
  </div>
</div>


<script>


document.addEventListener('DOMContentLoaded', function() {
  const id = "{{ section.id }}";
  
  const swiperDesktopClass = `.mySwiper-${id}`;
  const swiperPaginationClass = `.swiper-pagination-${id}`;
  const swiperButtonNextClass = `.button--${id}.swiper-button-next`;
  const swiperButtonPrevClass = `.button--${id}.swiper-button-prev`;

  const swiperContainer = document.querySelector(swiperDesktopClass);
  const swiperPagination = document.querySelector(swiperPaginationClass);
  const swiperButtonNext = document.querySelector(swiperButtonNextClass);
  const swiperButtonPrev = document.querySelector(swiperButtonPrevClass);

  if (swiperContainer && swiperPagination && swiperButtonNext && swiperButtonPrev) {
    let swiper = new Swiper(swiperDesktopClass, {
      slidesPerView: 'auto',
      spaceBetween: 10,
      centeredSlides: true,
      navigation: {
        nextEl: swiperButtonNextClass,
        prevEl: swiperButtonPrevClass,
      },
      pagination: {
        el: swiperPaginationClass,
        clickable: true,
      },
      breakpoints: {
         786: {
           centeredSlides: false,
         }
       },
      observer: true, 
      observeParents: true,
    });

    swiper.init();
    swiper.update();
  } else {
    console.error('Swiper initialization elements not found for section:', id);
  }

  // new Swiper(swiperMobileClass, {
  //   slidesPerView: 1,
  //   spaceBetween: 10,
  //   navigation: {
  //     nextEl: swiperButtonNextClass,
  //     prevEl: swiperButtonPrevClass,
  //   },
  //   pagination: {
  //     el: swiperPaginationClass,
  //     clickable: true,
  //   },
  //   observer: true,
  //   observeParents: true,
  // });

});




</script>


{% schema %}
  {
    "name": "Blog Posts v2",
    "tag": "section",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "default": "Heading",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          },
          {
            "value": "hxl",
            "label": "t:sections.all.heading_size.options__4.label"
          }, {
            "value": "hxxl",
            "label": "t:sections.all.heading_size.options__5.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "blogs"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "info": "t:sections.all.colors.has_cards_info",
        "default": "scheme-1"
      }, {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Blog Posts"
      }
    ]
  }
{% endschema %}