{{ 'section-header.css' | asset_url | stylesheet_tag }}

<header class="nav-bar__container color-{{ section.settings.color_scheme }}">
  <div class="nav-bar__items">
    <div class="nav-bar__open-btn">
      {% render 'icon-hamburger-2' %}
    </div>
    <a href="/">
      <img
        src="{{ section.settings.brand_logo |  image_url: width: section.settings.brand_logo.width  }}"
        alt="{{ stie.name }}"
        class="nav-bar__brand-img">
    </a>
    <div>
      <form class="search-form desktop" action="{{ routes.search_url }}">
        <input
          class="search-input"
          type="text"
          placeholder="Explore 1000+ Supplements"
          name="q"
          value="{{ search.terms | escape }}" />
        <input
          type="hidden"
          name="type"
          value="product,page" />
        <input
          type="hidden"
          name="options[unavailable_products]"
          value="hide" />
        <input
          type="hidden"
          name="options[prefix]"
          value="last" />
        <button class="nav-bar__search-btn" type="submit">{% render 'icon-search-2' %}</button>
      </form>

    </div>
    {% comment %} <ul class="nav-bar__menu close"></ul>
      
      {% for link in section.settings.main_menu.links %}
        <li class="nav-bar__menu-item">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul> {% endcomment %}
    <ul class="nav-bar__menu">
      {% for link in section.settings.main_menu.links %}
        <li class="nav-bar__menu-item">
          <a href="{{ link.url }}">{% render 'icon-user' %} {{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="nav-bar__options">
      <span>{% render 'icon-search-2' %}</span>
      <a href="{{ routes.account_login_url }}">{% render 'icon-user' %}</a>
      <a href="{{ routes.cart_url }}">{% render 'icon-cart-bag' %}</a>
    </div>
  </div>
  <div class="nav-bar__mega-menu color-{{ section.settings.mega_menu_color_scheme }}">
    <div>
      <form class="search-form mobile" action="{{ routes.search_url }}">
        <input
          class="search-input"
          type="text"
          placeholder="Explore 1000+ Supplements"
          name="q"
          value="{{ search.terms | escape }}" />
        <input
          type="hidden"
          name="type"
          value="product,page" />
        <input
          type="hidden"
          name="options[unavailable_products]"
          value="hide" />
        <input
          type="hidden"
          name="options[prefix]"
          value="last" />
        <button class="nav-bar__search-btn" type="submit">{% render 'icon-search-2' %}</button>
      </form>

      <ul class="nav-bar__mega-menu">
      {% for link in section.settings.mega-menu.links %} 
        {% assign collection_handle = link.url | remove: '/collections/' %}
        {% assign collection = collections[collection_handle] %}
        <li class="nav-bar__mega-menu-item">
          <a href=""></a>
        </li>
      {% endfor %}
      </ul>

    </div>
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "class": "section-header",
    "settings": [
      {
        "type": "image_picker",
        "id": "brand_logo",
        "label": "Header Logo"
      },
      {
        "type": "link_list",
        "id": "main_menu",
        "label": "Main Menu",
        "default": "main-menu"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "link_list",
        "id": "mega-menu",
        "label": "Mega Menu"
      }, {
        "type": "color_scheme",
        "id": "mega_menu_color_scheme",
        "label": "Mega Menu color Scheme",
        "default": "scheme-1"
      }
    ]
  }
{% endschema %}