{{ 'section-header.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-header.js' |  asset_url }}" defer></script>

<header class="nav-bar__container color-{{ section.settings.color_scheme }}">
  <div class="nav-bar__items">
    <div class="nav-bar__open-btn">
      {% render 'icon-hamburger-2' %}
    </div>
    <a href="/">
      <img
        src="{{ section.settings.brand_logo |  image_url: width: section.settings.brand_logo.width  }}"
        alt="{{ stie.name }}"
        class="nav-bar__brand-img">
    </a>
    <div>
      <form class="search-form desktop" action="{{ routes.search_url }}">
        <input
          class="search-input"
          type="text"
          placeholder="Explore 1000+ Supplements"
          name="q"
          value="{{ search.terms | escape }}" />
        <input
          type="hidden"
          name="type"
          value="product,page" />
        <input
          type="hidden"
          name="options[unavailable_products]"
          value="hide" />
        <input
          type="hidden"
          name="options[prefix]"
          value="last" />
        <button class="nav-bar__search-btn" type="submit">{% render 'icon-search-2' %}</button>
      </form>

    </div>
    {% comment %} <ul class="nav-bar__menu close"></ul>
      
      {% for link in section.settings.main_menu.links %}
        <li class="nav-bar__menu-item">
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul> {% endcomment %}
    <ul class="nav-bar__menu">
      {% for link in section.settings.main_menu.links %}
        <li class="nav-bar__menu-item">
          <a href="{{ link.url }}">{% render 'icon-user' %} {{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="nav-bar__options">
      <span>{% render 'icon-search-2' %}</span>
      <a href="{{ routes.account_login_url }}">{% render 'icon-user' %}</a>
      <a href="{{ routes.cart_url }}">{% render 'icon-cart-bag' %}</a>
    </div>
  </div>
  <div id="backdrop" class="backdrop"></div>
  <div id="desktopBackdrop"></div>
  <div class="nav-bar__mega-menu close color-{{ section.settings.mega_menu_color_scheme }}">
      <div class="mega-menu__wrapper">
      <form class="search-form mobile" action="{{ routes.search_url }}">
        <input
          class="search-input"
          type="text"
          placeholder="Explore 1000+ Supplements"
          name="q"
          value="{{ search.terms | escape }}" />
        <input
          type="hidden"
          name="type"
          value="product,page" />
        <input
          type="hidden"
          name="options[unavailable_products]"
          value="hide" />
        <input
          type="hidden"
          name="options[prefix]"
          value="last" />
        <button class="nav-bar__search-btn" type="submit">{% render 'icon-search-2' %}</button>
      </form>

      <ul class="mega-menu__items ">
      {% for link in section.settings.mega_menu.links %} 
        {% assign collection_handle = link.url | remove: '/collections/' %}
        {% assign collection = collections[collection_handle] %}
        {% assign counter = counter | plus: 1 %} 
        <li class="nav-bar__mega-menu-item" {%  continue  %} %}>
          <a href="{{ link.url }}" class="a" data-count="{{counter}}">
            {% if collection.image != blank %}
              <img src="{{ collection.image | image_url: width: collection.image.width }}" class="collection__featured-image">
            {% elsif counter == 1 %}
            <img src="https://cdn.shopify.com/s/files/1/0852/8553/6031/files/Rectangle_49.png?v=1726555526" class="collection__featured-image">

            {% elsif counter == 5 %}
            <img src="https://cdn.shopify.com/s/files/1/0852/8553/6031/files/Rectangle_52.png?v=1726555709" class="collection__featured-image">
            {% endif %}
            {{ link.title }}
            {% if link.links != blank %}
            <span class="icon-arrow-down"> {% render 'icon-arrow-down' %}</span>
            {% endif %}
          </a>
          {% if link.links != blank %} 
            {% assign variant_title_parts = link.title | split: ' ' %}
{% assign variant_title_hyphenated = variant_title_parts | join: '-' |  downcase %}
            <ul class="mega-menu__child-dropdown  {{ variant_title_hyphenated }}">
            {% for child in link.links %}
              {% assign child_collection_handle = child.url | remove: '/collections/' %}
              {% assign child_collection = collections[child_collection_handle] %}
              <li class="child-links" data-collection-handle="{{ child_collection_handle }}">
                <a href="{{ child.url }}">
                  {% if child_collection.image != blank %}
                    <img src="{{ child_collection.image | img_url: 'medium' }}" class="collection-brand__featured-image">
                  {% endif %}
                  {{ child.title }}
                </a>

              </li>
            {% endfor %}
            <div id="product-preview" class="product-preview">
  <!-- Product cards will be rendered here -->
            </div>
            </ul>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
    
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "class": "section-header",
    "settings": [
      {
        "type": "image_picker",
        "id": "brand_logo",
        "label": "Header Logo"
      },
      {
        "type": "link_list",
        "id": "main_menu",
        "label": "Main Menu",
        "default": "main-menu"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      },
      {
        "type": "link_list",
        "id": "mega_menu",
        "label": "Mega Menu",
        "default": "main-menu"
      }, {
        "type": "color_scheme",
        "id": "mega_menu_color_scheme",
        "label": "Mega Menu color Scheme",
        "default": "scheme-1"
      }
    ]
  }
{% endschema %}